/* work-sans fonts  */
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Poppins:wght@500&family=Work+Sans:wght@400;500;600;700;800&display=swap');

 *{
  font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
 }
 *{
  margin: 0;
  padding: 0;
 }
 /* common styles */
.primary-btn{
  border-radius: 15px;
  background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
  padding:15px 30px;
  margin-top: 2rem;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  border: 0;
}
.secondary-btn{
  border-radius: 10px;
  margin-left: 2rem;
  background-color: #4EC5F7;
  padding:15px 30px;
  font-size: 0.8rem;
  color: #fff;
  font-weight: 600;
  border: 0;
  
}
.section-title{
  color: #0B0223;
font-size: 2.5rem;
font-weight: 700;
}
.section-title-color{
 color: #F948B2;
font-size: 2.5rem;
font-weight: 700;
}
.section-subtitle{
  color: #534C64;
font-family: Work Sans;
font-size: 1rem;
}
 /* header styles */
 
 .nav-section{
  margin: 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .nav-left{
  display: flex;
  align-items: center;
  gap: 20px;
 }
 .nav-left img{
  width: 100%;
  height: 100%;
 }
 .nav-left-title{
color: #FF42A5;
font-size: 45px;
font-weight: 700;
 }
 .left-title-black{
  color: #0B0223;
 }
 .nav-section ul{
  display: flex;
 
 }
 .nav-section li{
  list-style: none;
  margin-left: 1rem;
 }
 .nav-section li>a{
  text-decoration: none;
  color: #3C354F;
font-size: 1rem;
font-weight: 500;
 }
 .icon-style{
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
  padding: 10px;
 
 }
.icon-style img{
  width: 1.25rem;
  height: 1rem;
}
 /* banner styles */
 .banner-container{
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
 
 }
 .banner-text{
  background-image: url("../images/Group\ 14.png");
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 600px;
  
 }
 .banner-title{
  color: #0B0223;
font-size: 2.5rem;
font-weight: 600;
text-transform: uppercase;
 }
.banner-title1{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
font-size: 5rem;
font-weight: 800;
}
.banner-subtitle{
  color: #534C64;
font-size: 1rem;
margin-bottom: 10px;
font-weight: 500;
}
.banner-image img{
  width: 550px;
  height: 600px;
  margin-right: 150px;
}
.hide{
  display: none;
}
/* gamer section styles */
.gamer-section{
  text-align: center;
  margin: 70px 150px;
}
.gamer-container{
  display: flex;
  gap: 20px;
  margin-top:20px ;
}
.gamer-card{
  text-align: left;
}
.gamer-card img{
  width: 250px;
  height: 300px;
  border: none;
}
.image-border{
  border-radius: 8px;
}
.gamer-card img:hover{
  border: 4px solid  #FF42A5;
  border-radius: 14px;
  background: #534C64;
  
}
/* play games section */
.games-container{
  margin: 40px 150px 0;
  display: flex;
  justify-content: center;
  gap: 200px;
}
.game-text{
  margin-top: 200px;
}
.game-text .section-subtitle{
  margin-top: 30px;
}
.game-image1{
  width: 500px;
  height: 500px;
  
}
.game-image2{
  width: 250px;
  height: 300px;
  position: relative;
  bottom: 150px;
  left: 370px;
}

/* mobile responsive */
@media  screen and (max-width:576px) {
  .nav-section {
    flex-direction: column;
    margin: 50px ;
    gap: 50px;
    justify-content: center;
    text-align: center;
  }
  .nav-section ul{
    flex-direction: column;
    gap: 50px;
  }
  .banner-container{
    flex-direction: column-reverse;
    margin: 10px;
  
  }
  .banner-text{
    width: 100%;
    height: 500px;
    
  }
  .banner-image img{
    width: 100%;
    height: 100%;
    margin-right: 0;
  }
  .banner-title {
    font-size: 2rem;
  }
  .banner-title1{
    font-size: 4rem;
  }
  .primary-btn{
    margin-right: 5px;
  }
  .gamer-section{
    margin: 40px 10px;
  }
  .gamer-container{
    flex-direction: column;
  }
  .gamer-card{
    text-align: center;
  }
  .section-subtitle{
    font-size: 0.6rem;
    text-align: center;
  }
  .games-container{
    flex-direction: column-reverse;
    gap: 30px;
    margin: 20px 10px;
  }
  .game-text{
    margin-top: 0;
    text-align: center;
  }
  .game-text .section-title-color,.section-title{
    font-size: 2.1rem;
    
  }
  .game-image{
    text-align: center;
  }
  .game-image1{
    width:250px;
    height: 300px;
    
    
  }
  .game-image2{
    width: 100px;
    height: 150px;
    position: relative;
   left: 100px;
   bottom: 100px;
  }
  
}

/* Tablet view */
@media screen and (min-width:576px) and (max-width:792px){
  .nav-section{
    margin: 0 40px;
  }
  .banner-container{
    flex-direction: column-reverse;
    margin: 40px;
  
  }
  .banner-image img{
    width: 100%;
    height: 100%;
  }
  .banner-text{
    width: 600px;
    height: 500px;
  }
  .gamer-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .games-container{
    flex-direction: column-reverse;
    gap: 40px;
  }
  .game-text{
    margin-top: 0;
  }
}